
body{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Roboto;
	text-align:left;
	line-height: 1.2;
	text-indent: 1px;
	word-spacing: 3px;
	letter-spacing: 1px;
}
li{
	font-size: 100%;
}
.text{
	font-style: normal;
	font-weight: 500;
	font-stretch: expanded;
	font-size: 20px;
	text-align:left;
}
h4{
	font-size: 20px;
}

h3{
	font-size: 25px;
}

h1{
	color:  #ffffff;
	font-size: 30px;
	text-transform: uppercase;
}
@media screen and (max-width: 1100px){
	pre{
		overflow-x: scroll;
	}
}
.li{
	font-size: 20px;
}
.img__content{
	width: 70%;
	height: 60%;
	margin-left: 10vw;
	margin-right: 10vw;
	box-shadow:  20px 20px 6px #d9d9d9;
}
@media screen and (max-width: 1000px){
	.advertising{
		display: none;
	}
}
.advertising{
	float: right;
}
.advertising__content{
	width: 300px;
	height: 600px;
}

.title
{
	background-color: #00185c;
	background-image: url("../images/background.png");
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 30px;

}
.finality
{
	background-color: #00185c;
	background-image: url("../images/background.png");
	color:  #ffffff;
}

.nav__link{
	display: inline-block;
	margin-right: 5px;
    color: #FFBB3D; 
    text-decoration: none; 
}
.nav__link:hover {
    color: #ffffff; 
    text-decoration: underline;
}
.finality__data_link{
	color: #ffffff; 
    text-decoration: none; 
}
.finality__data_link:hover{
	color: #FFBB3D; 
    text-decoration: underline;
}
.finality__data{
	padding-left: 20px;
}
.java
{
	background-color: #F2F2F4;
	margin-top: -20px;
}
.java__content{
	margin-left: 15vw;
	margin-right: 20vw;
	padding-top: 10px;
	padding-bottom: 10px;
}
.csharp{
	margin-top: -20px;
}
.csharp__content{
	padding-top: 10px;
	margin-left: 15vw;
	margin-right: 20vw;
	padding-bottom: 10px;
}
.javaVsCsharp
{
	background-color: #F2F2F4;
	margin-top: -20px;
}
.javaVsCsharp__content{
	padding-top: 10px;
	margin-left: 15vw;
	margin-right: 20vw;
	padding-bottom: 10px;
}
.story{

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	padding-left: 15vw;
	padding-right: 20vw;
}
.story__content{
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.story__text{
	font-size: 20px;
}
.story__formula{
	width: 45%;
}
.story__quote{
	width: 55%;
}
.table{
	margin-top: 20px;
	margin-left: 15vw;
	margin-right: 20vw;
	display: grid;
	grid-template-columns: 2fr, 1fr, 1fr;
  grid-auto-rows: 100px;
	grid-template-columns: repeat(3, 1fr);
	border: 1px solid black;
}
.table__title{
	background-color: #73B1FF;
	text-align:  center;
	border: 1px solid black;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 1;
}
.table__language{
	background-color: #7FA1B5;
	border: 1px solid black;
	grid-column: 1;
	grid-row: 2;
}
.table__Java{
	background-color: #7FA1B5;
		border: 1px solid black;
	grid-column: 1;
	grid-row: 3;
}
.table__C{
	background-color: #7FA1B5;
	border: 1px solid black;
	grid-column: 1;
	grid-row: 4;
}
.table__practice0{
	background-color: #7FA1B5;
	border: 1px solid black;
	grid-column: 2;
	grid-row: 2;
}
.table__practiceLot{
	background-color: #7FA1B5;
	border: 1px solid black;
	grid-column: 3;
	grid-row: 2;
}
.table__content1{
	border: 1px solid black;
}
.table__content2{
	border: 1px solid black;
	background-color: #ffffff;
}